<mat-card>
    <h1>Login Form</h1>
    <form #loginForm= "ngForm" (ngSubmit) = "onSubmit()" >
       <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="example:you@you.com"
            [(ngModel)] = "email"
            name = "email"
            required>
            <mat-hint>enter your email</mat-hint>
          </mat-form-field> 
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="example:12345678"
            [(ngModel)] = "password"
            name = "password"
            required>
            <mat-hint>8 charcters</mat-hint>
          </mat-form-field> 
       </div> 
       <div>
            <button [disabled] = "!loginForm.form.valid" type = "submit" mat-raised-button color="primary">Login</button>

        </div>
        <p *ngIf="this.isError">{{this.errorMessage}}</p>
    </form>
</mat-card>



