<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      *ngIf =  "(this.authService.getUser() | async)">
     

    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome">Home page</a>
      <a mat-list-item routerLink="/lambda" routerLinkActive="active">Prediction on students</a>
      <a mat-list-item routerLink="/students">Students</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span> welcome </span> -->
      
      <a class= "white" id= "register" routerLink = "/register" *ngIf = "!(this.authService.getUser() | async)">Register</a>
      <a class= "white" id= "login" routerLink = "/login" *ngIf = "!(this.authService.getUser() | async)">Login</a>
      <a class= "white" id= "logout" routerLink = "" (click) = "this.authService.logout()" *ngIf = "(this.authService.getUser() | async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

