<mat-card>
    <h1>Form for receiving student data</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Average grade in a math</mat-label>
                <input matInput type="number" placeholder="enter the average grade" [(ngModel)]="MathGrade"
                    name="MathGrade" required>
                <mat-hint>Between 0-100</mat-hint>

            </mat-form-field>
            <br>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Grade in psychometric</mat-label>
                <input matInput type="number" placeholder="enter the grade" [(ngModel)]="PsychoGrade" name="PsychoGrade"
                    required>
                <mat-hint>Between 0-800</mat-hint>
            </mat-form-field>
            <br>
            <br>

            <mat-form-field appearance="fill">
                <p>Has the Payment for studies been paid?</p>
                <mat-select [(ngModel)]="payment" name="payment">
                    <mat-option value="true">Yes</mat-option>
                    <mat-option value="false">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button *ngIf="!(predict!==undefined)" [disabled]="!classifyForm.form.valid" type="submit" mat-raised-button
                color="primary">Predict</button>
            <button *ngIf="(predict!==undefined)" mat-raised-button
                color="primary" id="save" (click)="save()">Save</button>
            <button *ngIf="(predict!==undefined)" mat-raised-button
                color="primary" (click)="cancel()">Cancel</button>
        </div>
        <br>
        <mat-form-field appearance="fill" *ngIf="predict!==undefined">
            <mat-label>Choose an option</mat-label>
            <mat-select [(value)]="predict">
                <mat-option value="Falls out">Falls out</mat-option>
                <mat-option value="Does not fall out">Does not fall out</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-card>