<mat-accordion *ngIf="(this.AuthService.getUser() | async)">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        *ngFor="let student of students; let i=index">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{student.id}}
            </mat-panel-title>
            <mat-panel-description>
                <button mat-button>
                    <mat-icon (click)="onDelete(student.id)">delete_forever</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>payments:{{student.payments}}</p>
        <p>prediction:{{student.predict}}</p>
        <p>math grade:{{student.mathgrade}}</p>
        <p>psycho grade:{{student.psychograde}}</p>
        <p>fall out?:{{student.fallsout}}</p>

    </mat-expansion-panel>
</mat-accordion>
<div>
    <button mat-button (click) ="nextPage()" >
      Next page
    </button>
    <button mat-button (click) ="previusPage()" >
        Previous page
      </button>
</div>